.file-menu-bar-container {
  /* display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ededed;
  background-color: #ffffff;
  padding: 6px;
  height: 32px;
  border-radius: 8px 8px 0 0;
  gap: 8px; */
  border-radius: 8px 8px 0 0;

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px;

  /* width: auto; */
  height: 44px;

  background: #ffffff;
  border-bottom: 1px solid #ededed;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.frame-29302 {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  padding: 0px;
  gap: 8px;

  /* width: auto; */
  height: 32px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}

.file-menu-bar-commands {
  /* display: flex;
  gap: 1rem; */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  /* width: 232px; */
  height: 32px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.file-menu-bar-commands button {
  /* width: 32px;
  height: 32px;
  padding: 6px;
  border: 1px solid transparent;
  background-color: #ffffff; */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  gap: 8px;

  width: 32px;
  height: 32px;

  border-radius: 6px;

  border: 1px solid transparent;
  background-color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.button-name {
  width: 16px;
  height: 16px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.button-name svg {
  stroke: #525252;
}

.file-menu-bar-buttons {
  display: flex;
  gap: 1rem;
}

.file-menu-button-text {
  display: flex;
  flex-direction: column;
}

.file-menu-button-text > label {
  font-weight: bold;
}

.file-menu-button-text > span {
  font-size: 13px;
  color: #737373;
}

.file-menu-popover {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 4px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-width: 150px;
  z-index: 1000;
  text-wrap: nowrap;
}
