.file-menu-bar-container {
  /* display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ededed;
  background-color: #ffffff;
  padding: 6px;
  height: 32px;
  border-radius: 8px 8px 0 0;
  gap: 8px; */
  border-radius: 8px 8px 0 0;

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px;

  /* width: auto; */
  height: 44px;

  background: #ffffff;
  border-bottom: 1px solid #ededed;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.frame-29302 {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  padding: 0px;
  gap: 8px;

  /* width: auto; */
  height: 32px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}

.file-menu-bar-commands {
  /* display: flex;
  gap: 1rem; */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  /* width: 232px; */
  height: 32px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.file-menu-bar-commands button {
  /* width: 32px;
  height: 32px;
  padding: 6px;
  border: 1px solid transparent;
  background-color: #ffffff; */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  gap: 8px;

  width: 32px;
  height: 32px;

  border-radius: 6px;

  border: 1px solid transparent;
  background-color: #ffffff;
  cursor: pointer;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.button-name {
  width: 16px;
  height: 16px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.button-name svg {
  stroke: #525252;
}

.file-menu-bar-buttons {
  display: flex;
  gap: 1rem;
}

/* .file-menu-button-text {
  display: flex;
  flex-direction: column;
}

.file-menu-button-text > label {
  font-weight: bold;
}

.file-menu-button-text > span {
  font-size: 13px;
  color: #737373;
} */

.file-menu-popover {
  /* position: absolute;
  top: 100%;
  left: 0;
  margin-top: 4px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-width: 150px;
  z-index: 1000;
  text-wrap: nowrap; */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 246px;
  height: 124px;
  /* left: 18px; */
  top: 35px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 2;
}

.file-menu-popover-2 {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 8px;

  width: 246px;
  height: 124px;

  background: #ffffff;
  /* shadow/400 */
  box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.15);
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.popover-list-item {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 12px;
  gap: 6px;

  /* width: 226px; */
  height: 48px;

  border-radius: 6px;

  cursor: pointer;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.popover-list-item:first-child {
  padding-top: 8px;
}

.popover-list-item:last-child {
  padding-bottom: 8px;
}

.popover-icon {
  width: 16px;
  height: 16px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.popover-icon svg {
  background: #000000;
}

.popover-text {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 2px;
  cursor: pointer;

  width: 180px;
  height: 32px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 1;
}
.popover-text > label {
  width: 180px;
  height: 16px;
  cursor: pointer;

  /* body/md/500 */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height, or 123% */
  display: flex;
  align-items: center;

  color: #262626;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.popover-text > span {
  width: 180px;
  height: 14px;

  /* body/xs/500 */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  /* identical to box height, or 127% */
  display: flex;
  align-items: center;

  color: #737373;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

/* additional commands */
.available-commands-popover {
  /*  position: 'absolute',
            top: '100%',
            left: 0,
            backgroundColor: '#fff',
            border: '1px solid #ccc',
            padding: '8px',
            marginTop: '4px',
            boxShadow: '0 2px 5px rgba(0, 0, 0, 0.15)',
            zIndex: 1000,
            width: '320px',
            borderRadius: 8 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 320px;
  /* height: 474px; */
  left: 0;
  top: 100%;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 2;
}

.filter-pop-overs {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  padding-bottom: 0;
  gap: 8px;

  /* width: 320px; */
  /* height: 474px; */

  background: #ffffff;
  /* shadow/400 */
  box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.15);
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.frame-2885 {
  /* Auto layout */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
  padding: 0px;
  gap: 8px;

  /* width: 300px; */
  /* height: 32px; */

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.input-controls {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 300px;
  /* height: 60px; */

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 1;
}

.input-field {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 10px; */

  /* width: 300px; */
  /* height: 60px; */

  background: #ffffff;
  /* border: 1px solid #d4d4d4; */
  border-radius: 6px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}

.input-field input {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  gap: 10px;

  /* width: 300px; */
  /* height: 32px; */

  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 1;
}

.input-field input::placeholder {
  width: 254px;
  height: 20px;

  /* body-text/md/500 */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */

  color: #a3a3a3;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}
.list-of-options {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;

  /* width: 300px; */
  max-height: 414px;
  overflow-y: scroll;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}

.list-of-options-item {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 12px;
  gap: 6px;

  /* width: 300px; */
  /* height: 32px; */

  border-radius: 6px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.list-of-options > .popover-list-item {
  height: 32px;
}
