:root {
  --jp-mirror-editor-keyword-color: #581c87 !important;
  --jp-mirror-editor-builtin-color: #2563eb !important;
  --jp-mirror-editor-link-color: #644120 !important;
  --jp-content-font-color1: #525252 !important;
  --jp-cell-editor-background: #fdfafc !important;
  --jp-cell-editor-border-color: #ededed !important;
  --jp-cell-editor-active-background: #f5f5f5 !important;
  --jp-cell-editor-active-border-color: #d4d4d4 !important;
  --jp-code-font-size: 12px !important;
  --jp-code-font-family: 'Fira Code' !important;
  --jp-code-font-family-default: 'Fira Code' !important;
  --jp-cell-inprompt-font-color: #525252 !important;
  --jp-cell-prompt-not-active-font-color: #737373 !important;
  --jp-content-font-size1: 12px !important;
  --jp-content-font-size5: 24px !important;
  --jp-content-font-color1: #262626 !important;
  --jp-content-font-family: Inter !important;
  --jp-content-line-height: 16px !important;
  --jp-mirror-editor-header-color: #2463eb !important;
  --jp-input-border-color: #d4d4d4 !important;
  --jp-input-background: #ffffff !important;
}

#menu-panel-wrapper {
  display: none;
}

#main-panel {
  top: unset !important;
  box-shadow: #2980b9;
}

.jp-InputArea-editor {
  border-radius: 6px;
}

.jp-MarkdownOutput {
  border-radius: 0.5rem;
  border: 1px solid #ededed;
  padding: 0 0.3rem;
  /* border: 0; */
  margin: 0;
  /* padding: 0; */
  background-color: #ffffff;
  text-shadow: none;
}

.jp-MarkdownOutput > h1 {
  /* font-family: 'Inter'; */
  font-weight: 700;
  line-height: 30px;

  color: #262626;
}

.jp-mod-selected .jp-MarkdownOutput {
  background-color: #f5f5f5;
}

.jp-Notebook.jp-mod-commandMode .jp-Cell.jp-mod-active:focus-visible {
  box-shadow: unset;
}

.lm-SplitPanel-child {
  background-color: #ffffff;
}

.jp-WindowedPanel-outer {
  background-color: #ffffff !important;
  padding: 0;
}

body[data-notebook='notebooks'] .jp-WindowedPanel-viewport {
  box-shadow: none;
}

.jp-NotebookPanel-toolbar {
  display: none;
}

.jp-NotebookPanel-notebook {
  top: 0 !important;
}

.jp-Notebook .jp-Cell.jp-mod-active .jp-Collapser {
  visibility: hidden;
}

.jp-cell-toolbar {
  padding: 2px;
  border: 1px solid #ededed;
  border-radius: 4px;
  background-color: #ffffff !important;
  right: 12px;
  top: -14px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08) !important;
  border-radius: 4px;
}

.jp-cell-toolbar svg path {
  fill: #525252 !important;
}

.jp-Cell-inputArea {
  overflow: visible;
}

.jp-MarkdownOutput:hover,
.jp-InputArea-editor:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.08));
  background-color: #fafafa !important;
}

.cm-gutter.cm-lineNumbers {
  background: #e5e5e5;
}

.cm-lineNumbers > .cm-gutterElement {
  font-family: 'Fira Code';
  color: #525252;
}

.jp-InputArea-editor .cm-gutters {
  border-right: 0;
}

.jp-Dialog-content {
  /* min-height: 271px; */
  min-width: 400px;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0px 16px 20px -4px rgba(0, 0, 0, 0.15);
  padding: 16px 24px;
  /* padding: 16px 24px 20px 16px; */
  /* padding: 0; */
  border: 1px solid transparent;
  /* justify-content: center; */
  /* align-items: center; */
}

.jp-Dialog-header {
  /* height: 64px; */

  /* padding: 16px; */
  /* padding: 16px 24px; */
  /* padding: 12px 12px 12px 24px; */
  /* font-style: normal; */

  /* line-height: 24px; */
  /* identical to box height, or 120% */
  color: #262626;
  /* padding: 20px 20px 20px 24px; */
  /* padding: 8px 8px 8px 0px; */
  /* min-height: 40px; */
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  /* min-width: 400px; */
  /* align-self: stretch; */
}

:not(.jp-mod-styled).jp-Dialog-body {
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  /* padding-top: 16px; */
  /* padding-bottom: 32px; */
  /* padding-left: 24px; */
  /* padding-right: 24px; */
  padding: 16px 24px 32px;
  /* padding: 16px 24px 24px; */
  margin: 0 -24px;
  /* padding-top: 16px; */
  gap: 4px;
  /* min-width: 400px; */
  /* align-self: stretch; */
}

.jp-Dialog-body > label {
  height: 19px;
  font-family: 'Inter';
  /* font-style: normal; */
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  /* identical to box height, or 158% */
  /* display: flex; */
  /* align-items: flex-end; */
  /* padding: 0 16px; */

  color: #525252;
}

.jp-Dialog-body > .jp-select-wrapper {
  height: 40px;
  /* padding: 0 16px; */
}

.jp-Dialog-body > .jp-select-wrapper > select {
  /* body-text/md/500 */
  font-family: 'Inter';
  /* font-style: normal; */
  font-weight: 500;
  font-size: 13px;
  /* line-height: 20px; */
  /* identical to box height, or 154% */

  color: #262626;
}

.jp-Dialog-body > .jp-select-wrapper svg {
  top: 11px;
  stroke: #737373;
}

.jp-Dialog-footer {
  /* padding: 16px 24px; */
  /* padding: 12px 12px 12px 24px; */
  /* height: 72px; */
  /* min-width: 400px; */
  /* align-self: stretch; */
  background-color: #f5f5f5;
}

label[title~='kernel'] {
  /* background-color: red; */
  position: absolute;
  top: -35px;
  left: 10px;
  height: 16px;
  /* body/sm/500 */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  display: flex;
  align-items: center;
  text-align: center;

  color: #262626;
}

label[title~='kernel'] > input {
  height: 16px !important;
  width: 16px;
  background-color: #fff;
  outline: 1px solid #d4d4d4;
  border-radius: 4px;
  margin-right: 8px;
  border: none;
  appearance: checkbox;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
}
